<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="butterflyingdog.myspringbootdemo.dao.PersonDao">

    <insert id="addPersonSql" parameterType="butterflyingdog.myspringbootdemo.entity.PersonEntity">
        insert into person(person_id,person_name) values(${personId}, ${personName})
    </insert>
</mapper>